body {
  font-family: monospace;
}

.player-status-container {
  width: 100%;
  aspect-ratio: 3.5/1;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}

@media (min-width: 1390px) {
  .player-status-container {
    width: calc(50% - 10px); /* Two cards per row with margins */
    aspect-ratio: 3.5 / 1; /* Maintain aspect ratio */
    background-color: white;
    border-radius: 10px;
    margin: 5px; /* Margin between cards */
    border: 1px solid black;
    box-sizing: border-box; /* Include padding and border in width/height calculations */
    height: auto; /* Height should be determined by aspect ratio and width */
  }
}

.player-status-content {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0 10px 10px 0;
  align-items: center;
}

.player-status-content .text-container {
  width: 100%;
  height: 30%;
  padding: 10px 15px 0 5px;
  display: flex;
}

.player-status-content .images-array {
  align-content: center;
  padding: 0 5px 0 5px;
  height: 70%;
  width: 100%;
}

.player-status-content .album-image {
  width: calc(20% - 5px);
  height: auto;
  border-radius: 5px;
  margin-right: 5px;
}

.player-name-label {
  height: 100%;
  width: 40%;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align content vertically */
  justify-content: center; /* Align content horizontally */
  font-size: 1.3vw;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add '...' if text overflows */
}

.songs-remaining-label {
  height: 100%;
  width: 60%;
  align-content: center;
  text-align: right;
  font-size: 0.8vw;
}

@media (min-width: 1390px) {
  .player-name-label {
    font-size: 1vw;
  }

  .songs-remaining-label {
    font-size: 0.8vw;
  }
}
