.artist-card-container {
  width: calc(0.3 * (100%-40px));
  aspect-ratio: 1/1.3;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
}

.square-container {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
}

.artist-image {
  width: 100%;
  border-radius: 10px;
}

.title-container {
  width: 100%;
  height: 30px;
  background-color: aqua;
}
