.hottest-100-container {
  width: 80%;
  height: auto;
  min-height: 100%;
  display: flex;
  padding: 0 0 10px 0;
}

.countdownStatusSection {
  flex: 1 0;
  padding: 10px 5px 10px 10px;
  background-color: #ededed;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .playerStatusSection {
    height: auto;
    flex: 0 1 35%;
    max-width: 1500px;
    padding: 10px;
    padding-left: 5px;
    background-color: #ededed;
    border-radius: 0 10px 10px 0;
    flex-direction: column;
  }
}

@media (min-width: 1390px) {
  .playerStatusSection {
    flex: 0 1 50%;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    align-items: flex-start; /* Prevent cards from stretching vertically */
    padding: 10px; /* Padding around the section */
    box-sizing: border-box; /* Include padding in height calculations */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: 80vh; /* Optional: set a max height */
  }
}

.track-information-section {
  height: 100%;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Pushes h4 to the bottom */
  height: 100%; /* Make parent take full height if needed */
}

.played-tracks-container {
  width: 100%;
  flex: 1;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

.lyrics-box {
  background-color: white;
  width: 100%;
  flex: 1;
  min-height: 300px;
  max-height: 500px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}
