.hottest-100-container {
  width: 80%;
  height: 80vh;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 6px;
}

.countdownStatusSection {
  flex: 3; /* Use flex to allow the section to grow */
  padding: 10px 5px 10px 10px;
  margin: 0 5px 0 0;
  background-color: #ededed;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.playerStatusSection {
  flex: 2; /* Use flex to allow the section to grow */
  padding: 10px;
  margin: 0 0 0 5px;
  background-color: #ededed;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.track-information-section {
  height: 100%;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.played-tracks-container {
  width: 100%;
  flex: 1;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}
